pkgbase = proxypool-git
	pkgdesc = Automatically grab ss, ssr, vmess, trojan node information from the Internet
	pkgver = 0.7.13.r0.g4e25e5a
	pkgrel = 1
	url = https://github.com/ssrlive/proxypool
	arch = i686
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = GPL3
	makedepends = go
	makedepends = git
	provides = proxypool
	conflicts = proxypool
	options = !lto
	source = proxypool::git+https://github.com/ssrlive/proxypool
	source = https://github.com/atomlong/GeoLite.mmdb/releases/latest/download/GeoLite2-City.mmdb
	source = proxypool.service
	source = 0001-update-clash-config-template.patch
	source = 0002-support-mysql.patch
	source = 0003-fix-country-filter.patch
	source = 0004-set-country-info-when-parse-proxy-from-clash.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 647aebfb3e20dba9801fa28f8c22c5662fcb677949ffd679268a0e09e44f9c7c
	sha256sums = d9ae62b8bfdfa9b51d39cc6397ba7154c88c82b2650208ab948a850a22f31f92
	sha256sums = 5140f9054841c1c01af89d4f0f76bf8dbed3a6e1b7731bed75f3532ac1db6976
	sha256sums = 8d099c9929f67ef3a1f3ccbd5817f65c29b7a0514e6aa3566b19c731f543a79a
	sha256sums = 9246f847696539c9903125e4ec39eb618df244ef4ffcf6dd05a808dba70958f7

pkgname = proxypool-git
