pkgbase = proxypool-git
	pkgdesc = Automatically grab ss, ssr, vmess, trojan node information from the Internet
	pkgver = 0.7.12.r28.gae4e6bd
	pkgrel = 7
	url = https://github.com/ssrlive/proxypool
	arch = i686
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = GPL3
	makedepends = go
	makedepends = git
	provides = proxypool
	conflicts = proxypool
	options = !lto
	source = proxypool::git+https://github.com/ssrlive/proxypool
	source = https://github.com/atomlong/GeoLite.mmdb/releases/latest/download/GeoLite2-City.mmdb
	source = proxypool.service
	source = 0001-update-clash-config-template.patch
	source = 0002-support-mysql.patch
	source = 0003-fix-country-filter.patch
	source = 0004-set-country-info-when-parse-proxy-from-clash.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 647aebfb3e20dba9801fa28f8c22c5662fcb677949ffd679268a0e09e44f9c7c
	sha256sums = 1a8915694088e07669d73a476003b963df9d1b7a53219b9b4e1591aa2a733503
	sha256sums = dbe6f6d6b498148f8ae6c7dbaf5220242734865bcaeffa90a52747dfd9c4e838
	sha256sums = c21d8e561870156a07bd2d34eab4feb8aae16678ebaa3b8e00f64a10d5fc7d57
	sha256sums = 6af8f7e8f9021cecabfab4f638012fa99874f2a1b1878c76b087a070d619ca30

pkgname = proxypool-git
